learn/solid/.vs/DemoSOLID/v17/DocumentLayout.json
learn/solid/.vs/DemoSOLID/ColorByRegexConfig.txt
learn/solid/.vs/DemoSOLID/CopilotIndices/17.14.1290.42047/CodeChunks.db
learn/solid/.vs/DemoSOLID/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
learn/solid/.vs/DemoSOLID/DesignTimeBuild/.dtbcache.v2
learn/solid/.vs/DemoSOLID/FileContentIndex/2ca7fb82-da88-4d1d-9e8c-06c81b4f2e33.vsidx
learn/solid/.vs/DemoSOLID/v17/.futdcache.v2
learn/solid/.vs/DemoSOLID/v17/.suo
learn/solid/.vs/ProjectEvaluation/demosolid.metadata.v9.bin
learn/solid/.vs/ProjectEvaluation/demosolid.projects.v9.bin
learn/solid/.vs/ProjectEvaluation/demosolid.strings.v9.bin
learn/solid/DemoSOLID/obj/DemoSOLID.csproj.nuget.dgspec.json
learn/solid/DemoSOLID/obj/DemoSOLID.csproj.nuget.g.props
learn/solid/DemoSOLID/obj/DemoSOLID.csproj.nuget.g.targets
learn/solid/DemoSOLID/obj/project.assets.json
learn/solid/DemoSOLID/obj/project.nuget.cache
learn/solid/DemoSOLID/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
learn/solid/DemoSOLID/obj/Debug/net8.0/DemoSOLID.AssemblyInfo.cs
learn/solid/DemoSOLID/obj/Debug/net8.0/DemoSOLID.AssemblyInfoInputs.cache
learn/solid/DemoSOLID/obj/Debug/net8.0/DemoSOLID.assets.cache
learn/solid/DemoSOLID/obj/Debug/net8.0/DemoSOLID.GeneratedMSBuildEditorConfig.editorconfig
learn/solid/DemoSOLID/obj/Debug/net8.0/DemoSOLID.GlobalUsings.g.cs
