@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <p>Hello đây là dash board - jenkins</p>
    <p>Hello đây là dash board - hehe -hihi 123 123</p>
    <p>Demojenkins</p>
    <p>success build jenkins</p>
</div>